{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>页面不存在</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{% static 'css/404.css' %}">
</head>
<body>
  <div class="window">
    <div class="windmill">
      <div class="pillar"></div>
      <div class="dome">
        <div class="dome-window"></div>
      </div>
      <div class="windmill-window"></div>
      <div class="blades">
        <div class="blade blade-1"></div>
        <div class="blade blade-2"></div>
        <div class="blade blade-3"></div>
        <div class="blade blade-4"></div>
      </div>
      <div class="ramp">
        <div class="grill"></div>
        <div class="hook hook-1"></div>
        <div class="hook hook-2"></div>
        <div class="hook hook-3"></div>
        <div class="hook hook-4"></div>
      </div>
    </div>
    <div class="sun"></div>
    <div class="land"></div>
    <div class="grass grass-1"></div>
    <div class="grass grass-2"></div>
  </div>
</body>
</html>
